/* #region global */

@font-face {
    font-family: 'Poppins';
    src: url('../font/Poppins-Light.otf');
}

*{
    font-family: 'Poppins';
    margin: 0;
    padding: 0;
    /* o box-sizing serve para: as caixas sempre serao ajustadas pela borda, ou seja, a borda e a base de redimencionamento  */
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    /* evitar que apareca uma linha em volta das box (div, etc) */
    outline: none;
}

/* sizes */
:root{
    --super-hero:5rem;
    --title-defaut:3rem;
    --subtitle-defaut:2rem;
    --table-title:1.8em;
    --paragraph-defaut:1.5em;
    --anchor-defaut:1.2em;
}

/* colors */
:root{
    --color-defaut: #11101d;
    --color-primary:deepskyblue;
    --color-segundary:aliceblue;
    --color-tertiary:black;
    --color-base:blue;
    --color-detail:navy;
    --color-table:rgba(40, 40, 255, 0.199);
    --color-text-box:rgba(255,255,255,.8);
    --color-text-box-focus:rgba(255,255,255,1);
    --color-bg-footer:#03020b;
    --color-card:rgba(0,0,0,.5);
    --color-btn:rgba(0,0,255,.5);
    --color-btn-hover:transparent;
    --color-detail6:rgba(104, 104, 243, 0.13);
}

/* resources */
:root{
    font-size: 18px;
    /* overflow:hidden server para trvar o scrool do mouse, ele nao funcionara */
    overflow: hidden;
    /* scroll-behavior serve para suavizar a transicao entre as sections */
    scroll-behavior: smooth;
    color: var(--color-segundary);
}

/* body */
body{
    font-size: 16px;
    background-color: var(--color-defaut);
}

section{
    width: 100%;
    height: auto;
}

h1{
    font-size: var(--title-defaut);
}

h2{
    font-size: var(--subtitle-defaut);
}

p{
    font-size: var(--paragraph-defaut);
}


a{
    font-size: var(--anchor-defaut);
    color: var(--color-segundary);
    transition: .5s;
}

:hover{
    transition: .5s;
}

/* #endregion */

/* #region header */

/* menu hamburguer */

.btnMenu{
    font-size: var(--title-defaut);
    padding: .5em;
    transition: .5s;
    /* dispaly:none faz sumir o objeto */
    display: none;
}

.btnMenu:hover i{
    color: var(--color-primary);
    transition: .5s;
}

.menu{
    width: 100%;
    height: 3.5rem;
    background-color: var(--color-card);
    position: fixed;
    /* z-index serve para determinar em qual camada o elemente se encontrara, se colocar outro elemento com valor 99, ele ficara atras desse que vale 100 */
    z-index: 100;
    /* backdrop-filter: blur(5px) efeito desfocado */
    backdrop-filter: blur(5px);
}

.logo{
    width: 10%;
    /* sempre que nao tiver line height e vc querer colocar o elemento centralizado na vertica, coloca o line-height no mesmo valor do height */
    height: 3.5rem;
    line-height: 3.5rem;
    padding: 0 1rem;
    display: flex;
    align-items: center;
}

.logo i{
    font-size: var(--title-defaut);
}

.logo span{
    font-size: var(--paragraph-defaut);
    padding-left: 1rem;
    font-weight: 800;
}

.navbar{
    height: 3.5rem;
    position: absolute;
    /* top 0 e right 1rem jogou a navbar para o outro lado da div */
    top: 0;
    right: 1rem;
    display: flex;
    align-items: center;
}

.navbar li{
    padding: 0 .5em;
}

.navbar li a {
    height: 3.5rem;
    line-height: 3.5rem;
    padding: .6rem 1.2rem;
    border: 1px solid var(--color-btn-hover);
    border-radius: 5px;
}
/* "not()" serve para dar uma excessao para o elemento ou classe selecionada */
.navbar li a:hover:not(.sub a:hover){
    background-color: var(--color-btn-hover);
    border: 1px solid var(--color-primary);

}

.navbar button{
    padding: .6rem 1.2rem;
    cursor: pointer;
    margin-left: .5rem;
    background-color: var(--color-btn);
    border: 1px solid var(--color-btn);
    border-radius: 5px;
    /* text-transform: uppercase para deixar a letra maiuscula */
    text-transform: uppercase;
    /* letter-spacing: 2px de espaco entre as letras */
    letter-spacing: 2px;
    transition: .5s;
}

.navbar button:hover{
    border: 1px solid var(--color-primary);
    transition: .5s;
    background-color: var(--color-btn-hover);
}
/* nao tem "." antes da "ul", pois e um elemento, somente antes de classe que tem ponto. */
ul.sub{
    position:absolute;
    width: 9.8rem;
    /* define o minimo que o objeto tera de largura, isso indepedente do monitor usado */
    min-width: 8.8rem;
    background-color: var(--color-card);
    text-align: center;
    display: none;
}

ul.sub li{
    transition: .5s;
    border: 1px solid var(--color-btn-hover);
    border-radius: 5px;
    cursor: pointer;
    
}

ul.sub li:hover{
    background-color: var(--color-btn-hover);
    border: 1px solid var(--color-primary);
}



/* #endregion */

/* #region home*/

.homeContainer {
    /* quando colocado position relative, os objetos position absolute ficaram como filho do relative, ou seja a posicao dependera do relative */
    position: relative;
    width: 100%;
    height: 80%;
}

video{
    width: 100%;
    height: 100%;
    z-index: 98;
}

.homeInner{
    position: absolute;
    background-color: var(--color-card);
    display: flex;
    /* flex-direction: column; serve para mudar a forma que os elementos serao enquadrados, nesse caso sera em coluna (um em cima do outro) */
    flex-direction: column;
    /* ao usar o z-index precisa tambem colocar as propriedades de tamanho do elemento para que ele apareca na tela */
    z-index: 99;
    width: 100%;
    height: 100%;
    justify-content: center;
    top: 0;
    text-align: center;

}

.homeInner h1{
    font-size: var(--super-hero);
    font-weight: 200;
}

.btnDefault{
    border: 1px solid var(--color-btn);
    border-radius: 5px;
    background-color: var(--color-btn);
    padding: 1.2em 2.5em;
    margin: 2em auto;
    transition: .5s;
}

.btnDefault:hover{
    border: 1px solid var(--color-primary);
    background-color: var(--color-btn-hover);
}

/* #endregion */

/* #region emphasis*/

.imgFit{
    width: 100vw;
    height: 100vh;
    padding: 0 6em;
}

.swiper-pagination-bullet-active {
    background-color: var(--color-primary) !important;
}
 
.swiper-button-prev {
    color: var(--color-base) !important;
 
}
 
.swiper-button-next {
    color: var(--color-base) !important;
}
/* #endregion */

/* #region products */

#products{
    text-align: center;
    padding: 10em 0;

}

#products h2{
    font-size: var(--title-defaut);
}

#products span{
    font-size: var(--title-defaut);
    color: var(--color-primary);
}

.productsContainer{
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 5em 0;
}

.cardProd{
    width: 20%;
}

.cardProd a{
    border-collapse: 1em;
}

.cardProd li{
    height: 4em;
    line-height: 4em;
    background-color: var(--color-segundary);
    color: var(--color-tertiary); 
}

/* o "last-child serve para setar o ultimo elemento selecionado, no caso foi o "li" */
.cardProd li:last-child{
    height: 6em;
    padding-top: 1em;
    border-radius: 0 0 .8em .8em;
    background-color: var(--color-detail6);
}

.cardProd li.price{
    width: 6em;
    height: 6em;
    line-height: 6em;
    background-color: var(--color-detail);
    color: var(--color-segundary);
    border-radius: 50%;
    margin: 0 auto;
    margin-bottom: -3em;
    font-size: var(--anchor-defaut);
    position: relative;
    
}

.cardProd li.title{
    background-color: var(--color-detail6);
    height: 7em;
    line-height: 7em;
    padding-top: 1.2em;
    text-transform: uppercase;
    color: var(--color-segundary);
    font-weight: 800;
    font-size: var(--paragraph-defaut);
    border-radius: .8em .8em 0 0;
}


.recomended li {
    background-color: var(--color-detail6);
    color: var(--color-segundary);
}

.recomended li.title {
    background-color: var(--color-detail6);
    color: var(--color-segundary);
}

.recomended li:last-child {
    background-color: var(--color-detail6);
    color: var(--color-segundary);
}

.recomended li.price{
    border: 2px solid var(--color-segundary);
}

/* #endregion */

/* #region services */

#services{
    text-align: center;
    /* height: 100vh; */
    padding: 5em;
}

#services h2{
    font-size: var(--title-defaut);
    padding: 1em 0;
}

.servicesContainer{
    width: 80%;
    height: auto;
    margin: 0 auto;
}

.servicesInner{
    width: 100%;
}

.servicesInner table{
    width: 100%;
    padding: 2.5em;
    /* border-collapse: collapse; serve para tirar o espacamento entre as celulas, ou seja, ficaram todas juntas sem o espaco */
    border-collapse: collapse;
}

.servicesInner table th{
    font-size: var(--table-title);
    padding: .8em 0;
    border-bottom: 2px solid var(--color-segundary);
}

.servicesInner table td{
    padding: .8em 0;
}

.servicesInner table td a{
    height: 1.5em;
    line-height: 1.5em;
    padding: .1em 2.3em;
    background-color: var(--color-btn-hover);
    border: none;
}

/* zebrando a tabela */

/* linhas impares */
.tabela tbody tr:nth-child(even){
    background-color: var(--color-table);
}

/* linhas pares */
.tabela tbody tr:nth-child(odd){

}

/* #endregion */

/* #region domain*/

#domain{
    height: 100vh;
    padding: 4rem 0;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;

}

#domain h2{
    font-size: var(--title-defaut);
}

.domainContainer{
    width: 100%;
    text-align: center;
}

.domainContainer ul li input[type=text]{
    margin: 6em 0 ;
    padding: 1em 1em;
    width: 50%;
    border: 1px solid var(--color-btn-hover);
    border-radius: 5px;
}

/* #endregion */

/* #region localization*/

#localization {
    text-align: center; 
    width: 100%;
    height: 100vh;
}

#localization h2{
    padding-top: 2em;
    font-size: var(--title-defaut);
    
}

#localization span{
    color: var(--color-primary);
    font-size: var(--title-defaut);
}

iframe{
    padding-top: 3em;
    filter: invert(100%);
}

/* #endregion */

/* #region contact*/

#contact{
    text-align: center;
    padding: 8em 0;
}

#contact h2{
    font-size: var(--title-defaut);
}

.contactContainer{
    width: 40%;
    margin: 0 auto;
    /* background-color: red; */
}

.contactInner li{
    padding: 1em;
}

.contactInner input[type=text],[type=email],.contactInner
textarea{
    background-color: var(--color-text-box);
    width: 60%;
    padding: .8em;
    border: none;
    border-radius: 5px;
    color: var(--color-tertiary);
    transition: .5s;
}

.contactInner input[type=text]:focus,[type=email]:focus,.contactInner
textarea{
    background-color: var(--color-text-box-focus);
    transition: .5s;
}

.formBtn input{
    margin: 0 2em;
    color: var(--color-secundary);
    border-radius: 1em; 
}

/* footer */
footer{
    width: 100%;
    height: auto;
    background-color: var(--color-bg-footer);
    padding: 3em;
    font-size:  .8em;
    position: relative;
}

.footerContainer{
    bottom: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
}

.footerContainer a{
    height: 1.5rem;
    line-height: 1.5rem;
    transition: .5s;
    opacity: .6;
}

.footerContainer a:hover{
    opacity: 1;
    transition: .5s;

}

/* #endregion */

/* #region login */

#login{
    width: 100%;
    height: 85vh;
    text-align: center;
    padding: 10em 0;
}

#login h2{
    font-size: var(--super-hero);
}

.loginInner li{
    padding: 2em;
}

.loginInner input[type=email],[type=password]{
    background-color: var(--color-text-box);
    width: 30%;
    padding: .8em;
    border: none;
    border-radius: 5px;
    color: var(--color-tertiary);
    transition: .5s;
}

.loginInner input[type=email]:focus,[type=password]:focus{
    background-color: var(--color-text-box-focus);
    transition: .5s;
}

.formBtn input{
    margin: 0 2em;
    color: var(--color-secundary);
    border-radius: 1em; 
    margin-bottom: 10em;
}

/* #endregion */




