/* #region global */

@font-face {
    font-family: 'Poppins';
    src: url('../font/Poppins-Light.otf');
}

*{
    font-family: 'Poppins';
    margin: 0;
    padding: 0;
    /* o box-sizing serve para: as caixas sempre serao ajustadas pela borda, ou seja, a borda e a base de redimencionamento  */
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    /* evitar que apareca uma linha em volta das box (div, etc) */
    outline: none;
}

/* sizes */
:root{
    --super-hero:5rem;
    --title-defaut:3rem;
    --subtitle-defaut:2rem;
    --table-title:1.8em;
    --paragraph-defaut:1.5em;
    --anchor-defaut:1.2em;
}

/* colors */
:root{
    --color-defaut: #11101d;
    --color-primary:deepskyblue;
    --color-segundary:aliceblue;
    --color-tertiary:black;
    --color-base:blue;
    --color-detail:navy;
    --color-table:rgb(97,97,237);
    --color-text-box:rgba(255,255,255,.8);
    --color-text-box-focus:rgba(255,255,255,1);
    --color-bg-footer:#03020b;
    --color-card:rgba(0,0,0,.5);
    --color-btn:rgba(0,0,255,.5);
    --color-btn-hover:transparent;
}

/* resources */
:root{
    font-size: 18px;
    /* overflow:hidden server para trvar o scrool do mouse, ele nao funcionara */
    overflow: hidden;
    /* scroll-behavior serve para suavizar a transicao entre as sections */
    scroll-behavior: smooth;
    color: var(--color-segundary);
}

/* body */
body{
    font-size: 16px;
    background-color: var(--color-defaut);
}

section{
    width: 100%;
    height: auto;
}

h1{
    font-size: var(--title-defaut);
}

h2{
    font-size: var(--subtitle-defaut);
}

p{
    font-size: var(--paragraph-defaut);
}

a{
    font-size: var(--anchor-defaut);
    color: var(--color-segundary);
    transition: .5s;
}

:hover{
    transition: .5s;
}

/* #endregion */

/* #region header */
/* menu hamburguer */

.btnMenu{
    font-size: var(--title-defaut);
    padding: .5em;
    transition: .5s;
    /* dispaly:none faz sumir o objeto */
    display: none;
}

.btnMenu:hover i{
    color: var(--color-primary);
    transition: .5s;
}

.menu{
    width: 100%;
    height: 3.5rem;
    background-color: var(--color-card);
    position: fixed;
    /* z-index serve para determinar em qual camada o elemente se encontrara, se colocar outro elemento com valor 99, ele ficara atras desse que vale 100 */
    z-index: 100;
    /* backdrop-filter: blur(5px) efeito desfocado */
    backdrop-filter: blur(5px);
}

.logo{
    width: 10%;
    /* sempre que nao tiver line height e vc querer colocar o elemento centralizado na vertica, coloca o line-height no mesmo valor do height */
    height: 3.5rem;
    line-height: 3.5rem;
    padding: 0 1rem;
    display: flex;
    align-items: center;
}

.logo i{
    font-size: var(--title-defaut);
}

.logo span{
    font-size: var(--paragraph-defaut);
    padding-left: 1rem;
    font-weight: 800;
}

.navbar{
    height: 3.5rem;
    position: absolute;
    /* top 0 e right 1rem jogou a navbar para o outro lado da div */
    top: 0;
    right: 1rem;
    display: flex;
    align-items: center;
}

.navbar li{
    padding: 0 .5em;
}

.navbar li a {
    height: 3.5rem;
    line-height: 3.5rem;
    padding: .6rem 1.2rem;
    border: 1px solid var(--color-btn-hover);
    border-radius: 5px;
}
/* "not()" serve para dar uma excessao para o elemento ou classe selecionada */
.navbar li a:hover:not(.sub a:hover){
    background-color: var(--color-btn-hover);
    border: 1px solid var(--color-primary);

}

.navbar button{
    padding: .6rem 1.2rem;
    cursor: pointer;
    margin-left: .5rem;
    background-color: var(--color-btn);
    border: 1px solid var(--color-btn);
    border-radius: 5px;
    /* text-transform: uppercase para deixar a letra maiuscula */
    text-transform: uppercase;
    /* letter-spacing: 2px de espaco entre as letras */
    letter-spacing: 2px;
    transition: .5s;
}

.navbar button:hover{
    border: 1px solid var(--color-primary);
    transition: .5s;
    background-color: var(--color-btn-hover);
}
/* nao tem "." antes da "ul", pois e um elemento, somente antes de classe que tem ponto. */
ul.sub{
    position:absolute;
    width: 9.8rem;
    /* define o minimo que o objeto tera de largura, isso indepedente do monitor usado */
    min-width: 8.8rem;
    background-color: var(--color-card);
    text-align: center;
}

ul.sub li{
    transition: .5s;
    border: 1px solid var(--color-btn-hover);
    border-radius: 5px;
    cursor: pointer;
}

ul.sub li:hover{
    background-color: var(--color-btn-hover);
    border: 1px solid var(--color-primary);
}


/* #endregion */

/* #region */
/* #endregion */


